# Data Structures: Lists, Tuples, Sets, Dictionaries

### Lists - Ordered, Mutable

In [7]:
# Creating and manipulating lists
fruits = ["apple", "banana", "cherry"] # index starts from 0
#fruit_index = [0,1,2]
numbers = [1, 2, 3, 4, 5]
mixed = [1, "hello", 3.14, True]

print(f"Fruits: {fruits}")
print(f"First fruit: {fruits[0]}")
print(f"Last fruit: {fruits[-1]}")
print(f"Slice [1:3]: {fruits[1:3]}")

Fruits: ['apple', 'banana', 'cherry']
First fruit: apple
Last fruit: cherry
Slice [1:3]: ['banana', 'cherry']

In [25]:
list_4_table = list(range(0,100,4))

In [37]:
list_4_table

[0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96]

In [40]:
list_4_table[::-1]

[96,
 92,
 88,
 84,
 80,
 76,
 72,
 68,
 64,
 60,
 56,
 52,
 48,
 44,
 40,
 36,
 32,
 28,
 24,
 20,
 16,
 12,
 8,
 4,
 0]

In [44]:
len(list_4_table)

25

In [74]:
fruits = ["apple", "banana", "cherry"]
print(f"Fruit init len: {len(fruits)}")
fruits.append("orange")  
fruits.append("grape") 
fruits.append("Mango")
print(f"Fruit init len: {len(fruits)}")
fruits

Fruit init len: 3
Fruit init len: 6

['apple', 'banana', 'cherry', 'orange', 'grape', 'Mango']

In [75]:
fruits.insert(1,'Chiku')
fruits.insert(5,'Chiku')

In [76]:
fruits

['apple', 'Chiku', 'banana', 'cherry', 'orange', 'Chiku', 'grape', 'Mango']

In [77]:
fruits.remove('Chiku')

In [72]:
list(range(2))

[0, 1]

In [70]:
for i in range(100):
    print(i)

0
1

In [78]:
for i in range(fruits.count("Chiku")):
    fruits.remove('Chiku')

In [79]:
fruits

['apple', 'banana', 'cherry', 'orange', 'grape', 'Mango']

In [80]:
fruits[1] = 'Chiku'

In [81]:
fruits

['apple', 'Chiku', 'cherry', 'orange', 'grape', 'Mango']

In [85]:
fruits[fruits.index('Mango')] = "kiWi"

In [86]:
fruits

['apple', 'Chiku', 'cherry', 'orange', 'grape', 'kiWi']

In [17]:
a = list(range(0,30))

In [28]:
a[:15]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [42]:
# List methods
fruits.append("orange")  # Add to end
fruits.insert(1, "grape")  # Insert at index
print(f"After adding: {fruits}")

fruits.remove("banana")  # Remove by value
popped = fruits.pop()    # Remove and return last
print(f"After removing: {fruits}")
print(f"Popped item: {popped}")

# Other useful methods
numbers = [3, 1, 4, 1, 5]
print(f"Count of 1: {numbers.count(1)}")
print(f"Index of 4: {numbers.index(4)}")
numbers.sort()
print(f"Sorted: {numbers}")

After adding: ['apple', 'grape', 'banana', 'cherry', 'orange', 'orange']
After removing: ['apple', 'grape', 'cherry', 'orange']
Popped item: orange
Count of 1: 2
Index of 4: 2
Sorted: [1, 1, 3, 4, 5]

In [44]:
numbers = [3, 1, 4, 1, 5,5,5,5]
numbers

[3, 1, 4, 1, 5, 5, 5, 5]

In [46]:
numbers.index(4)
3 in numbers

True

In [52]:
num = 10
if num in numbers: # 1 in list
    print(numbers.index(num))
if num not in numbers:
    print(f"{num} is not in {numbers}")

10 is not in [3, 1, 4, 1, 5, 5, 5, 5]

In [56]:
numbers.count(4)

1

In [42]:
numbers.sort(reverse=True)

In [90]:
fruits = ['chiku', 'apple', 'cherry', 'grape', 'kiwi', 'orange']

In [93]:
fruits.sort(reverse=True)

In [94]:
fruits

['orange', 'kiwi', 'grape', 'chiku', 'cherry', 'apple']

### Tuples - Ordered, Immutable

box - > 10 choci ---> shuffle it keep it again --> list
coords -> (lat,log) --> cant change

In [95]:
cords = (1,3)

In [99]:
cords[1] = 4

TypeError: 'tuple' object does not support item assignment

Count of 2: 3
Index of 3: 1

In [76]:
# Creating tuples
coordinates = (10, 20)
colors = ("red", "green", "blue")
single_item = (42,)  # Note the comma for single item

print(f"Coordinates: {coordinates}")
print(f"X: {coordinates[0]}, Y: {coordinates[1]}")

# Tuple unpacking
x, y = coordinates
print(f"Unpacked - X: {x}, Y: {y}")

# Tuple methods (limited since immutable)
numbers = (1, 2, 3, 2, 4, 2)
print(f"Count of 2: {numbers.count(2)}")
print(f"Index of 3: {numbers.index(3)}")

Coordinates: (10, 20)
X: 10, Y: 20
Unpacked - X: 10, Y: 20
Count of 2: 3
Index of 3: 2

### Sets - Unordered, Unique Elements

In [102]:
s = {1,2,4,1,2,3,5,'name','name'}
s

{1, 2, 3, 4, 5, 'name'}

In [80]:
set([3,4,5,1,4,5,3,2])

{1, 2, 3, 4, 5}

In [103]:
img_url = "https://d138zd1ktt9iqe.cloudfront.net/media/seo_landing_files/representation-of-operations-of-sets-using-venn-diagram-1627621524.png"
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= img_url)

In [105]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

In [106]:
set1.intersection(set2)

{3, 4}

In [107]:
set1.union(set2)

{1, 2, 3, 4, 5, 6}

In [108]:
set3 =set1.difference(set2)
set3

{1, 2}

In [7]:
set1.difference_update(set2)

In [11]:
set1 | set2 ## union
set1 & set2

{3, 4}

In [109]:
# Creating sets
unique_numbers = {1, 2, 3, 4, 5}
colors = {"red", "green", "blue"}
from_list = set([1, 2, 2, 3, 3, 4])  # Duplicates removed

print(f"Unique numbers: {unique_numbers}")
print(f"From list: {from_list}")

# Set operations
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print(f"Union: {set1 | set2}")
print(f"Intersection: {set1 & set2}")
print(f"Difference: {set1 - set2}")
print(f"Symmetric difference: {set1 ^ set2}")

Unique numbers: {1, 2, 3, 4, 5}
From list: {1, 2, 3, 4}
Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}
Symmetric difference: {1, 2, 5, 6}

In [67]:
set.difference(set1,set2) # which is persent only in set1

{1, 2}

In [69]:
set.difference(set2,set1)

{5, 6}

In [12]:
[!image="https://www.tuitionwithjason.sg/wp-content/uploads/2019/04/e-math-set-notation-venn-diagram.jpg"]

SyntaxError: invalid syntax (1248695639.py, line 1)

In [74]:
set.symmetric_difference(set2,set1)

{1, 2, 5, 6}

In [72]:
set2 - set1

{5, 6}

In [66]:
set.union(set1,set2)
set1 | set2

set.intersection(set1,set2)
set1 & set2

{3, 4}

In [21]:
l = [1,2,3,4,5]
s = {1,2,3,4,5}

In [22]:
l.append(6)

In [15]:
l

[1, 2, 3, 4, 5, 6]

In [18]:
s.add(3)

In [19]:
s

{1, 2, 3, 4, 5, 6}

In [84]:
l.append(6)
s.add(6)

In [24]:
l1 = ["a","b","c"]
s1 = {"a","b","c"}

In [25]:
l.extend(l1)

In [26]:
l

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c']

In [27]:
s.update(s1)

In [28]:
s

{1, 2, 3, 4, 5, 'a', 'b', 'c'}

In [29]:
l.remove("b")

In [30]:
l

[1, 2, 3, 4, 5, 6, 'a', 'c']

In [34]:
s.discard("d")

In [37]:
try:
    s.remove("d")
except Exception as e:
    print(e)

'd'

In [103]:
x = "d"
if x in l: l.remove(x)
else: pass

In [104]:
s.discard(x)

In [105]:
# Set methods
fruits = {"apple", "banana"}
fruits.add("cherry")
fruits.update(["orange", "grape"])
print(f"After adding: {fruits}")

fruits.remove("banana")  # Raises error if not found
fruits.discard("kiwi")   # No error if not found
print(f"After removing: {fruits}")

After adding: {'orange', 'cherry', 'banana', 'apple', 'grape'}
After removing: {'orange', 'cherry', 'apple', 'grape'}

### Dictionaries - Key-Value Pairs

In [117]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

person.get("gender")

In [118]:
person['gender'] =  'Male'

In [120]:
person['name']='Dhanush'

In [121]:
person

{'name': 'Dhanush', 'age': 30, 'city': 'New York', 'gender': 'Male'}

In [122]:
person['email'] = 'test@gmail.com'

In [123]:
person['age'] = 31

In [125]:
person.keys()

dict_keys(['name', 'age', 'city', 'gender', 'email'])

In [126]:
person.values()

dict_values(['Dhanush', 31, 'New York', 'Male', 'test@gmail.com'])

In [127]:
person.items()

dict_items([('name', 'Dhanush'), ('age', 31), ('city', 'New York'), ('gender', 'Male'), ('email', 'test@gmail.com')])

In [126]:
# Creating dictionaries
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Accessing values
print(f"Name: {person['name']}")
print(f"Age: {person.get('age')}")
print(f"Country: {person.get('country', 'Unknown')}")

# Adding/updating values
person["email"] = "alice@email.com"
person["age"] = 31
print(f"Updated person: {person}")

Name: Alice
Age: 30
Country: Unknown
Updated person: {'name': 'Alice', 'age': 31, 'city': 'New York', 'email': 'alice@email.com'}

In [60]:
d  = {"a":1,"b":2,"c":3}

In [62]:
person.keys()

dict_keys(['name', 'age', 'city', 'gender', 'email'])

In [63]:
person.values()

dict_values(['Alice', 31, 'New York', 'Male', 'test@gmail.com'])

In [130]:
d['a'] = 5

In [132]:
d['k'] = 1

In [70]:
list(zip(person.keys(),person.values()))

[('name', 'Alice'),
 ('age', 31),
 ('city', 'New York'),
 ('gender', 'Male'),
 ('email', 'test@gmail.com')]

In [71]:
person.items()

dict_items([('name', 'Alice'), ('age', 31), ('city', 'New York'), ('gender', 'Male'), ('email', 'test@gmail.com')])

In [73]:
for key, values in person.items():
    print(key,values)

name Alice
age 31
city New York
gender Male
email test@gmail.com

In [125]:
d.get("c",1)

3

In [134]:
# Dictionary methods
print(f"Keys: {list(person.keys())}")
print(f"Values: {list(person.values())}")
print(f"Items: {list(person.items())}")

# Iterating through dictionary
print("\nIterating through dictionary:")
for key, value in person.items():
    print(f"{key}: {value}")

# Dictionary comprehension
squares = {x: x**2 for x in range(1, 6)}
print(f"Squares: {squares}")

Keys: ['name', 'age', 'city', 'email']
Values: ['Alice', 31, 'New York', 'alice@email.com']
Items: [('name', 'Alice'), ('age', 31), ('city', 'New York'), ('email', 'alice@email.com')]

Iterating through dictionary:
name: Alice
age: 31
city: New York
email: alice@email.com
Squares: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [144]:
for i,j in d.items():
    print(i,j)

a 5
b 2
c 3
k 1

In [138]:
d.items()

dict_items([('a', 5), ('b', 2), ('c', 3), ('k', 1)])

In [140]:
i,j = ('a', 5)

In [147]:
l = [1, 2, 3, 4, 5, 6, 6]

In [149]:
l1 = []
for i in l:
    l1.append(pow(i,2))
l1

[1, 4, 9, 16, 25, 36, 36]

In [150]:
[pow(i,2) for i in l]

[1, 4, 9, 16, 25, 36, 36]

In [152]:
[pow(i,3) if i%2==0  else pow(i,5) for i in a]

[0,
 1,
 8,
 243,
 64,
 3125,
 216,
 16807,
 512,
 59049,
 1000,
 161051,
 1728,
 371293,
 2744,
 759375,
 4096,
 1419857,
 5832,
 2476099,
 8000,
 4084101,
 10648,
 6436343,
 13824,
 9765625,
 17576,
 14348907,
 21952,
 20511149]

# Link