# Module 1: Python Basics
## Programming Cycle, IDEs, Variables, and Data Types

In [9]:
a = 2
b = 1

In [17]:
b = 1
def fun():
    a =  2
    global b
    print(b)

In [18]:
fun()

1

In [5]:
global a

2

### Python Programming Cycle
1. **Write** - Create Python code
2. **Test** - Run and debug
3. **Debug** - Fix errors
4. **Deploy** - Use in production

### Popular Python IDEs
- **PyCharm** - Full-featured IDE
- **VS Code** - Lightweight with extensions
- **Jupyter** - Interactive notebooks
- **Spyder** - Scientific computing
- **IDLE** - Built-in Python IDE

<h1> This is header </h1>
<ul>1</ul>

### Variables and Data Types

True = 1 
False = 0

type()

In [ ]:
a = []

In [19]:
# Variables - no declaration needed
name = "Python"  # String
age = 30         # Integer
height = 6.0    # Float
is_active = True # Boolean

print(f"Name: {name}, Type: {type(name)}")
print(f"Age: {age}, Type: {type(age)}")
print(f"Height: {height}, Type: {type(height)}")
print(f"Active: {is_active}, Type: {type(is_active)}")

Name: Python, Type: <class 'str'>
Age: 30, Type: <class 'int'>
Height: 6.0, Type: <class 'float'>
Active: True, Type: <class 'bool'>

In [24]:
name = int(str(10))
type(name)

int

In [25]:
a

2

In [8]:
a =2
print(a)
b=3
print(b)
c=1
print(c)
a=1
a

2
3
1

1

In [16]:
isinstance(a,(int,str))

True

In [16]:
name, type(name), type(a)

('Python1', str, int)

In [34]:
statement_a = f"A = {a}"
print(statement_a,type(statement_a))

A = 2 <class 'str'>

In [35]:
# Complex data types
numbers = [1, 2, 3, 4, 5,1]  # List [ ] 
coordinates = (10, 20,10)      # Tuple ( )
unique_items = {1, 2, 3,1}    # Set { }
person = {"name": "Alice", "age": 25}  # Dictionary { }  { key: value }

print(f"List: {numbers}")
print(f"Tuple: {coordinates}")
print(f"Set: {unique_items}")
print(f"Dict: {person}")

List: [1, 2, 3, 4, 5, 1]
Tuple: (10, 20, 10)
Set: {1, 2, 3}
Dict: {'name': 'Alice', 'age': 25}

In [2]:
person['age']

25

In [30]:
list(set(numbers))

[1, 2, 3, 4, 5]

In [4]:
person = {"name": "Alice", "age": 25,"place":"viz",'a':4} 
person.keys()
person.values()

dict_values(['Alice', 25, 'viz', 4])

In [24]:
 # List [ ] 
numbers = [1, 2, 3, 4, 5,"d",["a",'b','c']]
type(numbers)
isinstance(numbers,list)
numbers[1] = 100
numbers

[1, 100, 3, 4, 5, 'd', ['a', 'b', 'c']]

In [5]:
d =  {"index_1":{"inner_index1": [9,0]},"index_67":87}

In [7]:
type(d['index_1'])
#d.values()

dict

In [8]:
d['index_1']['inner_index1']

[9, 0]

In [47]:
d =  {1,2,3,1}
d1 = [1,2,3,1]
d,d1

({1, 2, 3}, [1, 2, 3, 1])

In [9]:
n = ["a",1,"B",True,6.9,"VR"]
n1 = tuple(n)
type(n1), type(n)

(tuple, list)

In [10]:
n[0] = n[2]
n[2] = n[1]

In [11]:
n = (1,2,3,4,6)
type(n)

tuple

In [12]:
n[0] = n[2]
n[2] = n[1]

TypeError: 'tuple' object does not support item assignment

In [50]:
len(n), len(d)

(6, 3)

### Type Conversion

In [37]:
# Type conversion examples
num_str = "123"
num_int = int(num_str)
num_float = float(num_str)

print(f"String: {num_str}, Int: {num_int}, Float: {num_float}")

# Boolean conversion
print(f"bool(0): {bool(0)}")
print(f"bool(1): {bool(1)}")
print(f"bool(''): {bool('')}")
print(f"bool('hello'): {bool('hello')}")

String: 123, Int: 123, Float: 123.0
bool(0): False
bool(1): True
bool(''): False
bool('hello'): True

In [39]:
a = 'ok'
bool(a)

True

In [71]:
list(d)

['index_1', 'index_67']

## Hands on with list and dict