In [1]:
#!pip install pandas

import sqlite3
import pandas as pd
from sqlalchemy import create_engine, text
import os

conn = sqlite3.connect(r"C:\Users\dhanu\OneDrive\Desktop\Repo\VR_Training\module_2\database\VR.db")

In [14]:
df = pd.read_sql("SELECT * FROM messy_customer_data;",conn)

In [15]:
df['cleaned_full_name'] = df['full_name'].str.strip()

In [18]:
df[df['cleaned_full_name'].str.startswith("J")]

,id,full_name,email,phone,address,registration_date,status,cleaned_full_name
0,1,John Smith,JOHN.SMITH@EMAIL.COM,(555) 123-4567,"123 Main St, New York, NY",2023-01-15,active,John Smith

In [20]:
df

,id,full_name,email,phone,address,registration_date,status,cleaned_full_name
0,1,John Smith,JOHN.SMITH@EMAIL.COM,(555) 123-4567,"123 Main St, New York, NY",2023-01-15,active,John Smith
1,2,sarah johnson,sarah@email.com,555.234.5678,"456 Oak Ave, Los Angeles, CA",01/20/2023,INACTIVE,sarah johnson
2,3,Mike Brown Jr.,mike.brown@email.com,555-345-6789,"789 Pine Rd, Chicago, IL",2023-02-28,Active,Mike Brown Jr.
3,4,EMILY DAVIS,emily.davis@email.com,(555)456-7890,"321 Elm St, Houston, TX",03/15/2023,pending,EMILY DAVIS
4,5,David Wilson,david@email.com,555 567 8901,"654 Maple Dr, Phoenix, AZ",2023-04-10,active,David Wilson
5,6,,invalid-email,123,Incomplete Address,2023-13-45,unknown,

In [25]:
df['email'].str.split("@").apply(lambda x:x[0] ).str.capitalize()

0       John.smith
1            Sarah
2       Mike.brown
3      Emily.davis
4            David
5    Invalid-email
Name: email, dtype: object

In [46]:
import neattext as nt
from neattext import clean_text
help(nt)

Help on package neattext:

NAME
    neattext

PACKAGE CONTENTS
    explainer (package)
    functions (package)
    neattext
    pattern_data (package)
    pipeline (package)

DATA
    AUTOMATED_READ_INDEX = {'1': '5-6 years (Kindergarten)', '10': '15-16 ...
    BTC_ADDRESS_REGEX = re.compile('[13][a-km-zA-HJ-NP-Z1-9]{25,34}')
    CONTRACTIONS_DICT = {"'cause": 'because', "I'd": 'I would', "I'd've": ...
    CURRENCY_REGEX = re.compile('[$¬¢¬£¬§¬•∆í÷èÿã‡ß≤‡ß≥‡´±‡Øπ‡∏ø·üõ‚Ñ≥ÂÖÉÂÜÜÂúÜÂúìÔ∑º\\u20A0-\\u20C0]\\d+...
    CURRENCY_SYMB_REGEX = re.compile('[$¬¢¬£¬§¬•∆í÷èÿã‡ß≤‡ß≥‡´±‡Øπ‡∏ø·üõ‚Ñ≥ÂÖÉÂÜÜÂúÜÂúìÔ∑º\\u20A0-\\u20C0...
    Callable = typing.Callable
        Deprecated alias to collections.abc.Callable.

        Callable[[int], str] signifies a function that takes a single
        parameter of type int and returns a str.

        The subscription syntax must always be used with exactly two
        values: the argument list and the return type.
        The argument list must be a list of types, a ParamSpec,
        Concatenate or ellipsis. The return type must be a single type.

        There is no syntax to indicate optional or keyword arguments;
        such function types are rarely used as callback types.

    CreditCard_REGEX = re.compile('(?:(?:(?:\\d{4}[- ]?){3}\\d{4}|\\d{15,1...
    DATE_REGEX = re.compile('([0-9]{2}\\/[0-9]{2}\\/[0-9]{4})|([0-9]{4}\\/...
    EMAIL_REGEX = re.compile('[\\w\\.-]+@[\\w\\.-]+')
    EMOJI_REGEX = re.compile('[üòÄ-üôèüåÄ-üóøüöÄ-\U0001f6ff\U0001f1e0-üáø‚úÇ-‚û∞‚ìÇ-üâë]+')
    FUNCTORS_WORDLIST = ['a', 'about', 'above', 'across', 'after', 'afterw...
    HASTAG_REGEX = re.compile('#\\S+')
    HTML_TAGS_REGEX = re.compile('<[^<]+?>')
    List = typing.List
        A generic version of list.

    MASTERCard_REGEX = re.compile('5[1-5]\\d{2}[\\s-]?\\d{4}[\\s-]?\\d{4}[...
    MD5_SHA_REGEX = re.compile('([0-9a-fA-F]{32})|([0-9a-fA-F]{40})|([0-9a...
    MOST_COMMON_PUNCT_REGEX = re.compile('[!"&\',-.;?_`]')
    NUMBERS_REGEX = re.compile('\\d+')
    PHONE_REGEX = re.compile('[\\+\\(]?[1-9][0-9 .\\-\\(\\)]{8,}[0-9]')
    PUNCT_REGEX = re.compile('[!"&\'()*,-./:;?@[\\\\]^_`{|}]')
    PoBOX_REGEX = re.compile('(?i)P\\.? ?O\\.? Box \\d+', re.IGNORECASE)
    SPECIAL_CHARACTERS_REGEX = re.compile('[^A-Za-z0-9 ]+')
    STOPWORDS = ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselve...
    STOPWORDS_de = {'a', 'ab', 'aber', 'ach', 'acht', 'achte', ...}
    STOPWORDS_en = {'a', 'about', 'above', 'across', 'after', 'afterwards'...
    STOPWORDS_es = {'actualmente', 'acuerdo', 'adelante', 'ademas', 'adem√°...
    STOPWORDS_fr = {'a', 'abord', 'absolument', 'afin', 'ah', 'ai', ...}
    STOPWORDS_ru = {'–∞', '–±—É–¥–µ–º', '–±—É–¥–µ—Ç', '–±—É–¥–µ—Ç–µ', '–±—É–¥–µ—à—å', '–±—É–¥—É', ......
    STOPWORDS_yo = {'a', 'an', 'b', 'b√°', 'b√≠', 'b·∫πÃÄr·∫πÃÄ', ...}
    STREET_ADDRESS_REGEX = re.compile('\\d{1,4} [\\w\\s]{1,20}(?:street|st...
    Tuple = typing.Tuple
        Deprecated alias to builtins.tuple.

        Tuple[X, Y] is the cross-product type of X and Y.

        Example: Tuple[T1, T2] is a tuple of two elements corresponding
        to type variables T1 and T2.  Tuple[int, float, str] is a tuple
        of an int, a float and a string.

        To specify a variable-length tuple of homogeneous type, use Tuple[T, ...].

    URL_PATTERN = re.compile('(?:^|(?<![\\w\\/\\.]))(?:(?:https?:\...2})(?...
    USER_HANDLES_REGEX = re.compile('@\\S+')
    VISACard_REGEX = re.compile('4\\d{3}[\\s-]?\\d{4}[\\s-]?\\d{4}[\\s-]?\...
    ZIP_REGEX = re.compile('\\b\\d{5}(?:[-\\s]\\d{4})?\\b')

VERSION
    0.1.3

FILE
    c:\users\dhanu\appdata\roaming\python\python312\site-packages\neattext\__init__.py

In [ ]:
def custom_data_clean(x):
    index_year = 0
    values =  x.split('-')
    if len(values[0])<3:
        for i, j in enumerate(values): 
            if len(j)==4: index_year =  i
        new_value = '-'.join([index_year,values[0],values[1]])
    return new_value

In [54]:
df['registration_date'].str.replace('/','-')

0    2023-01-15
1    01-20-2023
2    2023-02-28
3    03-15-2023
4    2023-04-10
5    2023-13-45
Name: registration_date, dtype: object

In [48]:
df['phone'].apply(nt.extract_dates)

0    []
1    []
2    []
3    []
4    []
5    []
Name: phone, dtype: object

In [45]:
df['phone'].apply(lambda x: clean_text(x,puncts=True,special_char=True,contractions=True))

0     555 1234567
1      5552345678
2      5553456789
3      5554567890
4    555 567 8901
5             123
Name: phone, dtype: object

In [36]:
df['phone'].str.replace("(",'').str.replace(")",'').str.replace('.','').str.replace('-','').str.replace(" ",'')

0    5551234567
1    5552345678
2    5553456789
3    5554567890
4    5555678901
5           123
Name: phone, dtype: object